*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Plain Light";
}

html,body{
    height: 100%;
    width: 100%;
    color: white;
}
body{
    overflow-x: hidden;
}



#crsr{
    height: 2.3vw;
    width: 2.3vw;
    border-radius: 50%;
    /* background-color: white; */
    position: fixed;
    z-index: 9999;
    border: 2px solid #ffffffbe;
    mix-blend-mode: difference;
    transform: translate(-50%,-50%);
    /* iski wjh se cursor ka point centre ko follow karega */

}
#loader{
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 999;
    background-color: #0b0b0b;
    padding: 25vh 10vw;
    cursor: none;
}

.line{ 
   height: fit-content;
   overflow: hidden; 
   display: flex;
   align-items: center;
   justify-content: flex-start;
   gap: 3vw;
}

.line-part1{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1vw;
}

.line-part1 h5,.line-part1 h6{
    font-size: 3vw;
    font-weight: 100;
    font-family: "silk serif";
}
.line-part1 h5{
    width: 5vw;
    text-align: right;
}


.line h1{
    font-size: 6.5vw;
    text-transform: uppercase;
    font-weight: 900;
}
.line h2{
    font-size: 6.5vw;
    text-transform: uppercase;
    font-weight: 900;
    /* animation-name: anime; */
    opacity: 0;
    animation-duration: 1.8s;
    animation-iteration-count: infinite;
    margin-left: -20px;
}
@keyframes anime {
    0%{
        font-family: "Plain Light";
        -webkit-text-stroke: 1px #fff;
        color: #fff;
        font-weight: 500;
        opacity: 1;
    }
     1%{
        font-family: "Plain Light";
        -webkit-text-stroke: 1px #fff;
        color: #fff;
        font-weight: 500;
        opacity: 1;
    }
     47%{
        font-family: "Plain Light";
        -webkit-text-stroke: 1px #fff;
        color: #fff;
        font-weight: 500;
        opacity: 0;
    }
    50%{
        font-family: "Silk Serif";
        -webkit-text-stroke: 1px #fff;
        color: transparent;
        opacity: 1;
    }
    100%{
        font-family: "Silk Serif";
        -webkit-text-stroke: 1px #fff;
        color: transparent;
        opacity: 0;
    }
}

#main{
    position: relative;
    background-color: #151515;
}

#page1{
      height: 100vh;/*kyunki parent ko height nhi di to chlega nhi agar % me doge */
      width: 100%;
      background-color: #151515;
      cursor: none;
}


#page1 #nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2.3vw 4.5vw;
    cursor: none;
}

#navPart2{
    display: flex;
    align-items: center;
    gap: 3vw;
    justify-content: center;
    cursor: none;
}

#navPart2 h4{
    font-size: 1vw;
}
.content{
    width: 72%;
    margin-left: 27%;
    height: fit-content;
    overflow: hidden;
    display: flex;
    align-items: center;
    /* justify-content: center; */
    position: relative;
    z-index: 9999;
}
.content h1{
    font-size: 7.2vw;
    font-weight: 600;
    text-transform: uppercase;
    line-height: 7.2vw;
}
.content:nth-child(2){
    margin-top: 18vh;
}

#content3 h2{
    font-size: 7.2vw;
    font-weight: 600;
    text-transform: uppercase;
    line-height: 7.2vw;
    border-bottom: 0.5vw solid #fff;
    padding-bottom: 0.8vw;
    /* transition: all ease 0.3s; */
}

#content3 h2:hover{
    -webkit-text-stroke: 0.8px #fff;
    color: transparent;
    font-weight: 500;
    border-bottom: none;
}

#content3 #h2slash{
    border-bottom: none;
}

#page2{
    height: 100vh;
    width: 100%;
    padding-top: 20vh;
    position: relative;
}

#video-container{
    height: 66vh;
    width: 71vw;
    position: relative;
    left: 28vw;
    background-image: url("images/poster.jpg");
  background-size: cover;
}
#video-container video{
    height: 100%;
    width: 100%;
    object-fit: cover;
    /* margin-top: 17vh; */
    opacity: 0;
    -o-object-fit: cover
}
#video-container img{
    position: absolute;
    height: 100%;
    width: 100%;
    object-fit: cover;
    top: 0;
}
#video-cursor{
    background-color: #FFA63D;
    height: 8.5vw;
    width: 8.5vw;
    border-radius: 50%;
    position: absolute;
    top: -10%;
    left: 80%;
    z-index: 999;
    display: flex;
    align-items: center;
    justify-content: center;
}
#video-cursor i{
    font-size: 2vw;
}
#page3{
    min-height: 100vh;
    width: 100%;
    background-color: rgb(61, 61, 61);
}

#page4{
    min-height: 100vh;
    position: relative;
    width: 100%;
    /* background-color: rgb(61, 61, 61) */
    padding-top: 7vh 0;
}
#page4-content{
    width: 65vw;
    margin-left: 28vw;

}

#page4-content h1{
    font-size: 7vw;
    text-transform: uppercase;
}

#page4-content .underline{

    height: 0.2vw;
    width: 100%;
    background-color: #fff;
    margin:2vw 0 ;
}
/* it means jo uske direct andr hai  */
#page4-content>p{
    font-size: 2vw;
    width: 55%;
    margin-bottom: 4vw;
}

#page4-flex{
    display: flex;
    /* align-items: center;
    justify-content: center; */
}
#page4-flex img{
    width: 55%;

}
#left-para p{
    font-size: 1vw;
    font-weight: 500;
    width: 60%;
    margin-left: 2vw;
    line-height: 1.3;
    margin-bottom: 1vw;
}

#highlight-div{
    background-color: #3f7df4;
    width: 30vw;
    padding: 3vw;
    margin-left: 28vw;
    position: relative;
    margin-top: -38vh;
    margin-left: 50vw;
}

#highlight-div .elem{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 2vw 0;
    border-bottom: 2px solid #ffffff94;
}
#highlight-div .elem p{
    width: 50%;
    font-size: 1vw;
    text-align: left;
    margin-left: 1vw;
}
#highlight-div .elem h4{
    font-size: 1.4vw;
    font-weight: 500;
}

#page4 #bottom-line{
    margin-left: 28%;
    margin-top: 12vh;
    
    height: 0.1vw;
    width: 65vw;
    background-color: #fff;
}

#page5{
    min-height: 100vh;
    width: 100%;
    padding: 5vw  0;
    background-color: #0b0b0b;
}